{% extends 'base.html.twig' %}

{% block title %}L'association{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 mb-4 text-center">
                <img
                        src="{{ asset('assets/template/ancre_logo._460_square.png') }}"
                        alt=""
                        style="width: 200px; height: 200px"
                        class="rounded-circle"
                />
                <p>
                    Les Écrivains de marine est une association française regroupant vingt écrivains ayant une connaissance et une pratique de la mer. Fondée en 2003 par Jean-François Deniau en partenariat étroit avec la Marine nationale, cette association, dans une convention signée avec le ministère français de la Défense, s'engage « collectivement à servir la Marine, favoriser la propagation et la préservation de la culture et de l’héritage de la mer, et plus généralement la promotion de la dimension maritime de la France ». </p>

                <p> Les membres sont cooptés à l'unanimité avec l'agrément du chef d'état-major de la Marine. Bien que n'ayant qu'un statut associatif, différent du statut des peintres officiels de la Marine, les Écrivains de marine peuvent embarquer sur les navires de la Marine nationale et sont autorisés à porter l'uniforme. Ils sont capitaine de frégate de la réserve citoyenne, à titre honorifique. </p>

                <p>Didier Decoin a été président des Ecrivains de marine de 2007 à 2022. Depuis 2022, Patrice Franceschi est président des Ecrivains de marine et Andrea Marcolongo vice-présidente.
                </p>

            </div>
        </div>
    </div>
{% endblock %}


