{% extends 'base.html.twig' %}
{% form_theme ecrivain_form 'bootstrap_5_layout.html.twig' %}

{% block body %}

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <h2 class="text-center mt-5">AJouter un écrivain</h2>

                            <div class="card-body p-md-5 mx-md-4">

                                    {{ form_start(ecrivain_form) }}

                                    {{ form_end(ecrivain_form) }}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="container mt-5">

    </div>


{% endblock %}

{% block title %}

{% endblock %}

